* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

html, body {
    height: 100%;
    background: #000;
    overflow-x: hidden; /* lebih aman */
}

/* BACKGROUND */
.animated-bg {
  position: fixed;
  inset: 0;
  z-index: 1;
  background:
    radial-gradient(circle at 35% 50%, rgba(180, 0, 255, 0.45), transparent 50%),
    radial-gradient(circle at 80% 50%, rgba(60, 4, 123, 0.35), transparent 50%),
    radial-gradient(circle at 60% 60%, rgba(100, 0, 200, 0.35), transparent 45%),
    linear-gradient(180deg, #12001f, #050008);
}


#app {
    position: relative;
    z-index: 1;
}

.login-btn,
.sidebar,
.modal {
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
    .animated-bg {
        filter: blur(24px);
        animation-duration: 18s;
    }
}
